

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: languageapp-db
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: ${SA_PASSWORD}
      MSSQL_PID: ${MSSQL_PID}
    volumes:
      - sql_data:/var/opt/mssql
    ports:
      - "1433:1433"
    restart: always

  backend:
    build:
      context: ./api
    container_name: languageapp-api
    restart: always
    depends_on:
      - db
    environment:
      ASPNETCORE_ENVIRONMENT: Development


      # DB
      ConnectionStrings__DefaultConnection: ${DB_CONNECTION}

      # JWT
      JWT__SigningKey: ${JWT_SIGNING_KEY}
      JWT__Issuer: http://localhost:5001
      JWT__Audience: http://localhost:5001

      # CORS
      Cors__Origins__0: http://localhost:3000
      Cors__Origins__1: http://localhost:5173
    ports:
      - "5001:5000"


    

  frontend:
    build:
      context: ./frontend
    container_name: languageapp-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "3000:80"

volumes:
  sql_data:
