.contact-container {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 20px;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.contact-container h1 {
  font-size: 32px;
  font-weight: 700;
  color: #0f172a;
  margin-top: 130px;
  margin-bottom: 10px;
}

.contact-desc {
  margin-top: 50px;
  color: #475569;
  margin-bottom: 30px;
}

.contact-form {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group label {
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #3b82f6;
}



.submit-btn {
  background: #3b82f6;
  color: white;
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #2563eb;
}

.success-msg {
  color: #16a34a;
  font-weight: 600;
}

.error-msg {
  color: #dc2626;
  font-weight: 600;
}
